<h2 mat-dialog-title>Are You Sure You Want To Add</h2>
<mat-dialog-content class="mat-typography">
  <div *ngFor="let item of apiData | keyvalue: mySortingFunction">
    <strong>{{ item.key }}</strong> : <strong>{{ item.value }}</strong>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    (click)="onConfirm()"
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    Confirm
  </button>
</mat-dialog-actions>
