<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Users"> <app-users-page></app-users-page> </mat-tab>
  <mat-tab label="Winners"><app-winners-page></app-winners-page> </mat-tab>
  <mat-tab label="Toppers"> <app-toppers-page></app-toppers-page></mat-tab>
</mat-tab-group>
